body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Table__pagination {
  display: flex;
  justify-content: space-between;
  border: black;
  background: lightgrey;
  padding: 20px 10px;
}

.rt-td {
  font-style: oblique;
  font-weight: inherit;
}
.Table_pages {
  display: flex;
  justify-content: left;
}

.PageSizeOptions {
  justify-content: flex-end;
  margin: 3px 10px;
}

.Table__pageButton {
  font-size: 15px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.Table__pageButton:disabled {
  cursor: not-allowed;
  color: gray;
}

.Table__pageButton--active {
  color: #45b3e3;
  font-weight: bold;
}

/* hide Pagination controls
span.-pageInfo,
.-previous,
.-next {
  display: none !important;
} */
.rt-th input {
  width: 100%;
}
.Table__pagination {
  display: flex;
  justify-content: space-between;
  border: black;
  background: #30718e30;
  padding: 10px 10px;
}
.Table_pages {
  display: flex;
  justify-content: left;
}
.PageSizeOptions {
  justify-content: flex-end;
  margin: 3px 10px;
}
.Table__pageButton {
  font-size: 15px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.Table__pageButton:disabled {
  cursor: not-allowed;
  color: gray;
}
.Table__pageButton--active {
  color: #45b3e3;
  font-weight: bold;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  margin: 0px 10px;
}
nav ul li a p {
  padding: 7px 20px;
  font-weight: 500;
  margin: 0px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #000000b8;
  border: 1px solid #294d5d;
  background: #c2d5de;
}
nav ul li a p:hover {
  color: black;
}
nav ul {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  padding: 20px;
}
.Blogs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.Posts ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.Blogs li {
  display: inline-block;
  margin: 20px;
}

.Posts li {
  display: inline-table;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: initial;
  margin: 10px;
}

.Blogs a {
  text-decoration: none;
  color: black;
}
.ReactTable .rt-tbody .rt-td {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0px 0px black;
  background-color: rgba(113, 224, 218, 0.01);
}

.ReactTable .rt-thead .rt-tr {
  text-align: center;
  /* text-shadow: 0 0 0px black; */
  color: #311b1bfa;
  background-color: #3f727d7a;
  font-style: oblique;
  font-weight: 500;
}

.Blogs a:hover,
.Blogs a:active {
  color: orange;
}

tr:hover {background-color: #f5f5f5;}

div form table{
border: 1px solid black
}

div form table tbody tr td{
  height: 20px;
}

tbody{

}