body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
<<<<<<< HEAD

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Blogs ul{
 list-style: none;
 margin: 0;
 padding: 0;
 width: 100%;
text-align: center;
}

.Posts ul{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
 text-align: center;
 }

.Blogs li{
  display: inline-block;
  margin: 20px;
}

.Posts li{
 display: inline-table;
  margin: 10px;
}

.Blogs a{
  text-decoration:none;
  color: black;
}

.Blogs a:hover,
.Blogs a:active{
  color: orange;
}
=======
li {
  font-family: Arial, Helvetica, sans-seri;
  color: green;
}
ReactTable {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
}
p {
  font-family: cursive;
  color: purple;
}
div {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: darkred;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: crimson;
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
>>>>>>> 0cecd2c203ea26602f7355155a16d6ad9c643d56
